body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

.navbar{
background-color: #0b8cad; /* color de fondo azul */
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul{
    display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#2193b0,#6dd5ed);
color:white;
}

button{
background:#ff9800;
border:none;
padding:12px 20px;
color:white;
cursor:pointer;
}

button hover{
background:#e68900;
}

.propuesta{
width:400px;
margin:auto;
margin-top:40px;
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin-bottom:10px;
}

footer{
text-align:center;
margin-top:50px;
padding:20px;
background:#003366;
color:white;
}

.lastSection{
    background-color: #2193b0;
    color: antiquewhite;
}

.lastSection h2{
    display: flex;
  justify-content: center;
  align-items: center;
}

.lastSection div{
    display: flex;    
    flex-direction: row;
    justify-content: center;
  align-items: center;
}

.lastSection div div img{
    width: 60%;
}

#idea2{
    background-color: #6dd5ed;
    width: 10%;
    display: none;
}

#nuevaIdea{
    background-color: #6dd5ed;

    display: flex;
  flex-direction: column;
  align-items: center;
  background: #0b8cad; /* o el color que tenías */
  padding: 120px 20px;
  border-radius: 8px;
  width: 180px; /* tamaño fijo o relativo */
  box-sizing: border-box;
  position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 100px); 
    gap: 10px;
    padding: 10px;
  }

  .grid-item {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
  }